/* Big tablet to 1160px (widths smaller than the 1160px row) */
@media only screen and (max-width: 1160px) {


    }

/* Small tablet to big tablet: from 933px to 1023px */ 
@media only screen and (max-width:1023px) {
    
 
    
    }

/* Small tablet to big tablet: from 769px to 933px */ 
@media only screen and (max-width:991px) {
    


}

/* Small tablet to big tablet: from 769px to 933px */ 
@media only screen and (max-width:933px) {
   #home-section .fly-in-text li {
        font-size: 3.5em;
    }

}

/* Small phones to small tablets: from 600px to 768px */
@media only screen and (max-width: 768px) {
    #home-section .fly-in-text li {
        font-size: 3em;
    }
    .navbar .navbar-brand img {
        height: 55px;
        width: auto;
    }
    #text-section h2 {
        font-size: 30px;
    }
    #facility-section .facility-content h2 {
        font-size: 42px;
    }
}

/* Small phones to small tablets: from 481px to 600px */
@media only screen and (max-width: 600px) {
    #facility-section .facility-content h2 {
        font-size: 34px;
    }

}

/* Small phones: from 480 to 530px */
@media only screen and (max-width: 530px) {
    #facility-section .facility-content h2 {
        font-size: 28px;
    }
    #facility-section .facility-content h4 {
        font-size: 24px;
    }
    #facility-section .facility-content .btn {
        font-size: 16px;
    }
}


/* Small phones: from 320 to 480px */
@media only screen and (max-width: 480px) {
   

    
}

/* Small phones: from 0 to 430px */
@media only screen and (max-width: 430px) {
    
}

/* Small phones: from 0 to 430px */
@media only screen and (max-width: 392px) {
   #facility-section .facility-content h2 {
        font-size: 24px;
    }
    #facility-section .facility-content h4 {
        font-size: 20px;
    }
}

/* Small phones: from 0 to 430px */
@media only screen and (max-width: 384px) {
   
}

/* Small phones: from 0 to 430px */
@media only screen and (max-width: 383px) {
    
}
/* Small phones: from 0 to 430px */
@media only screen and (max-width: 368px) {
    #facility-section .facility-content h2 {
        font-size: 22px;
    }
    #facility-section .facility-content h4 {
        font-size: 18px;
    }
    #facility-section .facility-content .btn {
        font-size: 13px;
    }
}

/* Small phones: from 0 to 320px */
@media only screen and (max-width: 320px) {
    #home-section .fly-in-text li {
        font-size: 2em;
    }
    #home-section .home-btns a {
        margin-bottom: 15px;
    }

}